.dropdown {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.label {
  background: #2b2b2b;
  padding: 8px 18px;
  border-radius: 8px;
  color: var(--green);
}

.list {
  margin-top: 8px;
  background: #3a3a3a;
  border-radius: 10px;
  overflow: hidden;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  color: white;
}

.item:hover {
  background: #4a4a4a;
}
