:root {
  /* COLORS */
  --bg-main: #0B0C10;
  --bg-card: #212121;
  --bg-favorite: #76DD00;

  --text-primary: #FFFFFF;
  --text-secondary: #C5C6C7;
  --text-muted: #9CA3AF;

  --accent-green: #76DD00;
  --accent-red: #F87171;

  /* UI */
  --radius-sm: 8px;
  --radius-md: 12px;

  --shadow-card: 0 8px 24px rgba(0, 0, 0, 0.25);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: Inter, system-ui, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("/bg-rick-morty.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.page {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.95)
  );
}

.ContentTitle{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    img{
      width: 20rem;
    }
}

.footer{
      width: 100%;
    background-color: #76DD00;
    height: 2rem;
    margin-top: auto;
}