.card {
  position: relative;
  width: 280px;
  height: 290px;
  border-radius: 20px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* ===== DESKTOP SIZE ===== */
@media (min-width: 1024px) {
  .card {
    width: 400px;
    height: 430px;
    border-radius: 25px;
  }
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BADGE */
.liveBadge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(45, 45, 45, 0.9);
  padding: 6px 16px;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: bold;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* INFO BOX */
.infoBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(35, 35, 35, 0.9);
  padding: 12px;
  backdrop-filter: blur(2px);
}

.name {
  color: #97ce4c;
  font-size: 22px;
  font-weight: bold;
}

.species {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.dataGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}

.col span {
  color: #97ce4c;
  font-size: 11px;
  font-weight: bold;
}

.col p {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* NAV BUTTONS */
.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #7b7b7bb2;
  border: none;
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 20;
  font-size: 20px;
}

.navBtn:hover {
  color: #b2ff00;
}

.prev {
  left: -15px;
}

.next {
  right: -15px;
}

/* STATUS COLORS */
.green {
  background: #b2ff00;
  box-shadow: 0 0 10px #b2ff00;
}

.red {
  background: #ff4444;
  box-shadow: 0 0 10px #ff4444;
}

.gray {
  background: #888;
}
